<html>
  <head>
    <title>Staff Attendance System</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div align="center" class="hd">Welcome to Staff Attendance System </div>
	<div align="center" class="sd">
	<a href="/">Home</a> |
	<a href="/monitor">Daily Attendance </a> |
	<a href="/login">Login</a>  |
	<a href="/complaint">Report</a> 
	</div>
	
	
    
    <p>&nbsp;</p>
    <h1 align="center">Welcome to Staff Attendance System </h1>
    <p align="center"><img src="../static/1.jpg" width="700" height="336"></p>
  </body>
</html>
