<html>
  <head>
    <title>Staff Attendance</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
  <script src="../Script/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<body ng-app="">
    <div align="center" class="hd">Staff Attendance System</div>
	<div align="center" class="sd">
	<a href="/home">Home</a> |
	<a href="/student">Staff</a> |
	<a href="/report">Attendance</a> |
	<a href="/update">Update</a> |
	<a href="/complaint_view">View</a> |
	<a href="/logout">Logout</a>
	</div>
    <h2 align="center">Staff Attendance </h2>
    <div class="register">
			<h1>Register</h1>
	
			<form action="{{ url_for('student') }}" method="post"  name="myForm">
				
				<input type="text" name="name" placeholder="Name" ng-model="name"   required>
				<span ng-show="myForm.name.$touched && myForm.name.$invalid">Your name is required.</span>
				
				
				<input type="text" name="regno" placeholder="ID No"  ng-model="regno" required>
				<span ng-show="myForm.regno.$touched && myForm.regno.$invalid">Your ID No is required.</span>
				
				
				<input name="mobile" type="text" maxlength="10" placeholder="Mobile No." ng-model="mobile" required>
				<span ng-show="myForm.mobile.$touched && myForm.mobile.$invalid">Your name is required.</span>
				
				
				<input type="email" name="email" placeholder="E-mail" ng-model="email" required>
				<span ng-show="myForm.email.$touched && myForm.email.$invalid">Your Email is required.</span>
				
				
				<input type="text" name="branch" placeholder="Branch" ng-model="branch" required >
				<span ng-show="myForm.branch.$touched && myForm.branch.$invalid">Your Branch  is required.</span>
				
				
				
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>

	 <script>
	
	var app = angular.module('ngMessagesExample', ['ngMessages']);
app.controller('nameController', function ($scope) {

  $scope.submitForm = function() {
    alert('Form submitted - fields passed validation');

  };      
});
	
	</script>


<!--<script>
function MyCtrl($scope){
  $scope.submit = function(){
    // Set the 'submitted' flag to true
    $scope.submitted = true;
    // Send the form to server
    // $http.post ...
  }

  $scope.hasError = function(field, validation){
    if(validation){
      return ($scope.form[field].$dirty && $scope.form[field].$error[validation]) || ($scope.submitted && $scope.form[field].$error[validation]);
    }
    return ($scope.form[field].$dirty && $scope.form[field].$invalid) || ($scope.submitted && $scope.form[field].$invalid);
  };

};
</script>-->

</div>
</body>
</html>
